.header {
    display: flex;
    flex-direction: column;
    background-color: #dcdada;
    border-bottom: 2px solid #c3c3c3;
}

.header__data {
    display: flex;
    align-items: center;
    margin: 15px 0px 20px;
}

.getBack-button {
    display: none;
}

.header__name {
    margin-left: 20px;
    font-size: 20px;
    font-weight: 600;
}

.logout-button {
    display: block;
    max-width: 150px;
    height: 30px;
    margin: 0px 15px 20px;
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
}

.header__form {
    margin: 0px 15px 15px 15px;
}

.contacts__label {
    position: relative;
}

.header__input {
    width: 100%;
    border: 1px solid #a4a3a3;
    outline: none;
    border-radius: 20px;
    padding: 10px 7px 10px 30px;
}

.search-button {
    background: transparent url(/public/assets/icons/search.svg) 50% no-repeat;
    border: none;
    height: 25px;
    left: 7px;
    top: -3px;
    position: absolute;
    width: 25px;
}

.getBack-button {
    background: transparent url(/public/assets/icons/arrow-left.svg) 50% no-repeat;
    border: none;
    height: 40px;
    width: 40px;
    margin-left: 10px;
}